{% extends "layout.html" %} {% block content %}

<section id="home" style="margin-top:100px;">
    <div class="row">
        <div class="network col-lg-9">
        </div>
        <!-- Hover card -->
        <div id="hovercard">
            <div><span class="type">Weight/Bias</span> is <span class="value">0.2</span>
            </div>
        </div>
        <div class="col-lg-3">


            <div class="card" style="width: 100%;">

                <img id="myImg" src="/test.png" class=" card-img-top round active float-left" height="250px" width="320px" alt="Cost vs No. of iterations" />
                <div class="card-header">
                    Model Performance
                </div>
                <div class="card-body">

                    Train Accuracy is: {{ train_acc }} %

                    <br> Test Accuracy is: {{ test_acc }} %

                    <br> MSE is: {{ mse }} %
                </div>

            </div>

            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- The Close Button -->
                <span class="close">&times;</span>

                <!-- Modal Content (The Image) -->
                <img class="modal-content" id="img01">

                <!-- Modal Caption (Image Text) -->
                <div id="caption"></div>
            </div>


        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-lg-6">
            <div class="content-section" id="structure">
                <legend class="border-bottom mb-4">NN Structure</legend>
                <div class="container">
                    <div class="row form-inline">
                        No. of Input nodes :&nbsp;<button class="btn btn-dark" onclick="manipulateInpNodes(0, 0)">-</button>&nbsp;<input type="hidden" value="{{ no_of_inp_nodes }}" id="input_nodes" /><b class="form-control" id="input_nodes_tag">{{ no_of_inp_nodes }}</b>&nbsp;
                        <button class="btn btn-dark" onclick="manipulateInpNodes(1, 0)">+</button>
                    </div>
                    <br>
                    <div class="row form-inline">
                        <input type="hidden" id="no_of_hidden_layers" value="0" /> No. of hidden layers :&nbsp;<button class="btn btn-dark" onclick="manipulateInpNodes(0, 1)">-</button>&nbsp;<input type="hidden" value="0" id="no_of_hidden" /><b class="form-control"
                            id="hidden_tag">0</b>&nbsp;
                        <button class="btn btn-dark" onclick="manipulateInpNodes(1, 1)">+</button>
                    </div>
                    <br>

                    <div class="container" id="add_layers">
                    </div>
                    <br>
                    <div class="row form-inline mr-auto">
                        No. of output nodes :&nbsp;<button class="btn btn-dark mr-1" onclick="manipulateOpNodes(0)">-</button><input type="hidden" value="{{ no_of_op_nodes }}" id="output_nodes" /><b class="form-control mr-1" id="output_tag">{{ no_of_op_nodes }}</b>
                        <button class="btn btn-dark mr-3" onclick="manipulateOpNodes(1)">+</button>
                        <select class="form-control" id="activations" required>
                            <!-- <option value="linear">Linear</option> -->
                            <option selected disabled>Choose Activation</option>
                            <option value="sigmoid">Sigmoid</option>
                            <option value="tanh">Tanh</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="content-section">
                <legend class="border-bottom mb-4">Select Test Data</legend>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <input class="form-control-range" type="range" min="10" max="90" id="range-slider" name="range-slider" onmousemove="updateSliderText()" />
                        </div>
                        <div class="col">
                            <div class="range-result" id="range-result">0%</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-section">
                <legend class="border-bottom mb-4">Testing Area</legend>
                <b>Inputs</b>
                <input type="hidden" value="{{ no_of_inp_nodes }}" id="no_of_inp_nodes" />
                <input type="hidden" value="{{ no_of_op_nodes }}" id="no_of_op_nodes" />
                <div class="container">
                    <div class="row">
                        <div class="col" id="addTestDataInputs"></div>
                    </div>
                </div>
                <br>
                <b>Outputs</b>
                <input type="hidden" value="{{ no_of_inp_nodes }}" id="no_of_inp_nodes" />
                <input type="hidden" value="{{ no_of_op_nodes }}" id="no_of_op_nodes" />
                <div class="container">
                    <div class="row">
                        <div class="col" id="addTestDataOutputs"></div>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" onclick="getPredictedResults()">Predict</button>
            </div>
        </div>
        <div class="col-lg-6" id="upload">
            <div class="row">
                <div class="content-section" style="width: 100%;">
                    <form method="POST" action="/" method="POST" enctype="multipart/form-data">
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Upload Dataset</legend>
                            <div class="input-group">
                                <div class="custom-file">
                                    <input name="data" type="file" class="custom-file-input" id="inputGroupFile01">
                                    <label class="custom-file-label">Choose file</label>
                                </div>
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit" name="Submit" value="Upload">Upload</button>
                                    <button class="btn btn-success" type="submit" name="Submit" value="preprocess">Preprocess</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="card" style="width: 100%;">
                    <div class="card-header">Dataset</div>
                    <div class="card-body table-responsive">
                        {% if head %}{% for i in head %}{{i|safe}}{% endfor %}{% else %} None {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="about">

</section>
{% endblock content %}