{% extends "layout.html" %} {% block content %}
<style>
    table,
    th,
    td {
        width: auto;
        text-align: center;
        padding: 10px;
        
    }
    canvas {
        background-color: black;
        width: 100%;
        height: 50%;
        margin-bottom: 20px;
    }
    main{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif 
    }
</style>

<div class="container">
    <canvas></canvas>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="content-section">
            <form method="POST" action="/" method="POST" enctype="multipart/form-data">
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Upload Dataset</legend>
                    <div class="input-group">
                        <div class="custom-file">
                            <input name="data" type="file" class="custom-file-input" id="inputGroupFile01">
                            <label class="custom-file-label">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" name="Submit" value="Upload">Upload</button>
                            <button class="btn btn-success" type="submit" name="Submit" value="preprocess">Preprocess</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="content-section">
            <legend class="border-bottom mb-4">Current Relation</legend>
            <div class="row">
                <div class="col-7">
                    Relation: {% if filename %} {{filename}} {% else %} None {% endif %}
                </div>
                <div class="col">
                    Instances: {% if no_of_rows %} {{no_of_rows}} {% else %} None {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    Attributes: {% if no_of_cols %} {{no_of_cols}} {% else %} None {% endif %}
                </div>
                <div class="col">
                    Dimension: {% if dim %} {{dim}} {% else %} None {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header">Dataset</div>
                    <div class="card-body table-responsive">
                        {% if head %}{% for i in head %}{{i|safe}}{% endfor %}{% else %} None {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}