<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> {% if title %}
    <title>Skylearn.py - {{ title }}</title>
    {% else %}
        <title>Skylean-NN</title>
    {% endif %}

</head>


<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background: #222;">
            <!-- <div class="container"> -->
                <a class="navbar-brand mr-4" href="/">
                    <i class="fa fa-cogs fa-spin" width="30" height="30" class="d-inline-block align-top"></i> Skylean-NN
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <!--url_for plis change-->
                        <a class="nav-item nav-link {% if active == 'preprocess' %} active {% endif %}" href="{{ url_for('home') }}">Preprocess</a>
                        <a class="nav-item nav-link {% if active == 'classify' %} active {% endif %}" href="{{ url_for('home') }}">Classify</a>
                        <a class="nav-item nav-link {% if active == 'visualize' %} active {% endif %}" href="{{ url_for('home') }}">Visualize</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">

                        <a class="nav-item nav-link" href="{{ url_for('home') }}">Clear</a>

                    </div>
                </div>
            <!-- </div> -->
        </nav>
    </header>
    {%if active=='classify'%}
    <div id="mySidenav" class="sidenav bg-dark" style="margin-top: 56px; width:350px;">
        <a href="javascript:void(0)" id="close" class="closebtn" onclick="closeNav()">&times;</a>
        <div id="myFormDiv">
            <form id="myForm" method="POST" action="/classify" enctype="multipart/form-data" style="margin-top: 40px;">
                <div class="form-group">
                    <label for="classifier">Classifier</label><br>
                    <select class="form-control" name="classifier" id="classifier">
                <option value="0">Logistic</option>
                <option value="1">Naïve-Bayes Classifier</option>
                <option value="2">Linear-SV Classifier</option>
                <option value="3">KNN Classifier</option>
                <option value="4">Decision Tree Classifier</option>
                <option value="5">Random Forest Classifier</option>
                </select>
                </div>
                <div class="form-group">
                    <label for="chooseTestMethod">Choose Test Method</label><br>
                    <select class="form-control" name="chooseTestMethod" id="chooseTestMethod" onchange="create(this.value)">
                    <option class="dropdown-item" disabled selected>Choose</option>
                    <option class="dropdown-item" value="0">Upload Test</option>
                    <option class="dropdown-item" value="1">Split Dataset</option>
                    <option class="dropdown-item" value="2">Provide Cross Validation</option>
                    </select>
                </div>
                <br>
                <div class="form-group">
                    <div id="choiceDiv" name="choiceDiv"></div>
                </div>
                <div class="form-group">
                        <label for="chooseTestMethod">Choose Target Attribute</label><br>
                        <select name="target" class="form-control" >
                            {% for each in cols %}
                                <option value="{{each}}" {% if each == "target" %} selected {% endif %}>{{each}}</option>
                            {% endfor %}
                        </select>                
                    </div>
    
                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" id="scale" name="scale" onchange="update(0)">
                        </div>
                    </div>
                    <div class="form-control" style="margin-right: 32px;">Scale?</div>
                </div>
                <input type="hidden" name="scale_hidden" id="scale_hidden" value="0" />

                <div class="input-group mb-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <input type="checkbox" id="encode" name="encode" onchange="update(1)">

                        </div>
                    </div>
                    <div class="form-control" style="margin-right: 32px;">Encode?</div>
                </div>
                <input type="hidden" name="encode_hidden" id="encode_hidden" value="0" />

                <div class="form-group">
                    <button class="btn btn-default" type="submit">Start</button>
                </div>
            </form><br>
        </div>
    </div>
    <i class="fa fa-arrow-right" class="d-inline-block align-top" style="margin-left: 60px;" onclick="openNav()"></i> 
    <span class="sr-only">Battery level: 100%</span>
    {%endif%}
    <main id="main" role="main" class="container">
        <div class="row">
            <div class="col-lg-12">
                {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    <script>
        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
            var x = document.getElementById('myFormDiv');
            var buttonClose = document.getElementById('close');
            x.style.display = "block";
            buttonClose.style.display = "block";
            document.getElementById("mySidenav").style.width = "350px";
            // document.getElementById("main").style.marginLeft = "350px";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            var x = document.getElementById('myFormDiv');
            var buttonClose = document.getElementById('close');
            x.style.display = "none";
            buttonClose.style.display = "none";
            document.getElementById("mySidenav").style.width = "50px";
            document.getElementById("main").style.marginLeft = "50px";
        }
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
</body>

</html>