{% extends "layout.html" %} {% block content %}

<div class="container" style="margin-top:100px;">
    <div class="row row-cols-2">
        <div class="col">
            <div class="content-section">
                <legend class="border-bottom mb-4">Pair-plot Visualization</legend>
                <img src="/pairplot.png" height="525px" width="525px" alt="img not loaded"/>
            </div>
        </div>
        <div class="col">
            <div class="content-section">
                <legend class="border-bottom mb-4">Column-Relation Visualization</legend>
                <form action="/visualize" method="POST">
                <div class="container">
                    <div class="row row-cols-3">
                        <div class="col">
                            <label>Select X</label>
                        </div>
                        <div class="col">
                            <label>Select Y</label>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-secondary">Visualize</button>
                        </div>
                    </div>
                    <div class="row row-cols-3">
                        <div class="col">
                            <select name="x_col" class="form-control" >
                                {% for each in cols %}
                                    <option value="{{each}}" {% if each == "x_col" %} selected {% endif %}>{{each}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <select name="y_col" class="form-control" >
                                {% for each in cols %}
                                    <option value="{{each}}" {% if each == "y_col" %} selected {% endif %}>{{each}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
                <canvas id="myChart1" width="450px" height="450px"></canvas>

                
                {% if posted == 1 %}
                    {% if data %}
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
                        <input type="hidden" value="{{data}}" id="vis_data"/>
                        <input type="hidden" value="{{x_col_name}}" id="x_col"/>
                        <input type="hidden" value="{{y_col_name}}" id="y_col"/>
                        <script type=text/javascript src="{{url_for('static', filename='graph.js') }}"></script>
                    {% endif %}
                {% endif %}
            
                </form>
            </div>
        </div>
    </div>
 </div>   
    
{% endblock content %}