@charset "utf-8";

/*--
	Color styles
--*/

.header-contacts li i,
.nav-holder nav li a.act-link,
#twitts-container .timePosted a:before,
.follow-twiit-button,
#twitts-container ul li:before,
.sliding-menu a i.act-link,
.sliding-menu a:hover,
.sliding-menu a:hover i,
.submen-dec:before,
.footer-contacts li i,
.footer-contacts li:hover a,
.nav-title:before,
.sliding-menu a.back:hover:before,
.scroll-nav a:hover,
.scroll-nav a.act-scrlink,
.section-title h2 span,
.section-subtitle span,
.inline-facts-wrap i,
.sp-arr,
.text-carousel .slick-center .text-carousel-item:before,
.text-carousel .slick-center .text-carousel-item:after,
.listing-rating i,
.text-carousel-item a.testim-link:hover,
.half-hero-wrap h1 span,
.hero-decor-let,
.fet_pr-carousel-cat a:hover,
.fet_pr-carousel-box-media-zoom,
.pin:before,
.fsp-filter .filter-title i,
.fsp-filter .gallery-filters a:hover,
.fsp-filter .gallery-filters a.gallery-filter-active,
.all-album,
.hd-box-wrap p a:hover,
.inline-filter .filter-button i,
.load-more i,
.parallax-header span,
.parallax-header a:hover,
.content-nav li a.ln,
.content-nav li a.rn,
.single-page-fixed-row-link i,
.sarr-contr,
.details-wrap h3 span,
.pr-list li a:hover,
.cur-page:hover span,
.show-info:hover span,
.tooltip-info h5,
.inline-transparent-filter a:hover,
.inline-transparent-filter .folio-counter div.all-album,
.inline-transparent-filter a.gallery-filter-active,
.show-case-slider-wrap-style2 .sarr-contr:hover,
.hero-start-link i,
.hero-start-link span:before,
.single-slider-wrap .sp-cont,
.fullscreen-slider-title h3 span,
.hero-start-button i,
.audiojs .time strong,
.audiojs .play:before,
.audiojs .pause:before,
.playlist-wrap ol li:before,
.playlist-wrap ol li.playing a.downbuy-link,
.playlist-wrap ol li a.downbuy-link:hover,
.playlist-wrap ol li a.audio-link:hover,
.playlist-wrap ol li.playing a.audio-link,
.album-download-links li a,
.custom-form label i,
.custom-form .verify-wrap .selectbox,
.selectbox li:hover,
.contact-list li i,
.recomm-price i,
.main-about h2 a,
.event-header-item i,
.buy-ticket-link,
.album-cover-datils li i,
.process-wrap li .process-details a:hover,
.blog-btn i,
.widget-wrap .tagcloud li a,
.serv-zoom,
.hidden-works-item-text ul li a:hover,
.hidden-works-item-media-img a,
.hidden-works-item.act-index .hidden-works-item-dec,
.hidden-info-pagination i,
.team-box .team-photo a:hover,
.team-single-social li a:hover,
.main-about h2 span,
.fullscreen-slider-wrap .sp-cont,
.fs-carousel-titlecat a,
.fs-carousel-link:hover,
.lg-actions .lg-next:hover,
.lg-actions .lg-prev:hover {
    color: #FAC921
}

.color-bg,
.color-btn,
.btn:before,
.btn:before,
.ps-container>.ps-scrollbar-y-rail>.ps-scrollbar-y,
.follow-twiit-button span,
.share-container .share-icon span,
.subcribe-form .subscribe-button,
.close-twitter:hover,
.nav-button span,
.scroller,
.show-share,
.section-title:before,
.promo-link,
.close-share:hover,
.scroll-nav a.act-scrlink:after,
.line-item:before,
.custom-inner-header:before,
.custom-inner-header i,
.custom-skillbar,
.pr-title:before,
.slick-dots li.slick-active button:before,
.order-wrap h3:before,
.inline-facts-wrap h6:before,
.features-box h3:before,
.hero-decor-numb:before,
.fet_pr-carousel-box-text h3:before,
.fet_pr-carousel-counter:before,
.fsp-filter .gallery-filters a:after,
.hd-box-wrap h2:before,
.inline-filter .gallery-filters a:before,
.inline-filter .folio-counter:before,
.parallax-text h3:before,
.show-case-title h3:before,
.accordion a.toggle span,
.details-wrap h3:before,
.small-color-separator,
.audiojs .progress,
.volume-control span,
.volume-control span.allvolumne,
.contact-form-footer p:before,
.collage-image:before,
.best-price .price-head,
.price-link,
.album-cover-title h3:before,
.video-promo-text h3:before,
.fw-post h2:before,
.about-widget h5:after,
.serv-works-item .hidden-works-item-text h3:before,
.main-about h2:before {
    background: #FAC921
}

#twitts-container ul li:hover .timePosted a:after {
    border-top-color: #FAC921;
}

body {
    position: relative;
    background: #fafafa;
    color: #333333;
    /* margin-top: 5rem; */
}

main#main {
    margin-left: 90px;
}

body::-webkit-scrollbar {
    display: none;
}

table,
th,
td {
    width: auto;
    text-align: center;
    padding: 10px;
}

main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

.bg-steel {
    background-color: #5f788a;
}


/* Side Header */

.main-header {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    z-index: 100;
    padding: 4px;
    -webkit-transform: translate3d(0, 0, 0);
}

.main-header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2c2d32;
    opacity: 1;
}

.logo-holder {
    float: left;
    width: 80px;
    height: 80px;
    line-height: 80px;
}

.logo-holder img {
    width: 30px;
    height: auto;
}

.nav-button {
    width: 28px;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.nav-button span {
    width: 100%;
    float: left;
    margin-bottom: 6px;
    height: 2px;
    background: #fff;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-button .ncs {
    width: 70%;
}

.nav-button .nbs,
.nav-button.cmenu:hover .nbs {
    width: 0;
}

.nav-button:hover .ncs,
.nav-button:hover .nbs {
    width: 100%;
}

.nav-button.cmenu .nos {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-bottom: 0;
    top: 8.5px;
}

.nav-button.cmenu .ncs {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-bottom: 0;
    top: 6px;
    width: 100%;
}

.nav-button:hover .menu-button-text {
    color: #fff;
}

.menu-button-text {
    position: absolute;
    width: 100%;
    bottom: -1px;
    color: rgba(255, 255, 255, 0.41);
    font-size: 9px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.nav-button.cmenu .menu-button-text {
    margin-top: 16px;
}

.header-social {
    position: absolute;
    bottom: 130px;
    left: 0;
    width: 100%;
}

.header-social:before {
    content: '';
    position: absolute;
    top: -70px;
    width: 2px;
    height: 50px;
    left: 50%;
    background: rgba(255, 255, 255, 0.08);
}

.header-social li {
    float: left;
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    text-align: center;
    padding-left: 6px;
}

.header-social li a.nav-link {
    display: inline-block;
    width: 36px;
    height: 36px;
    color: orange;
    line-height: 36px;
    padding: 0%;
    background: #222;
    background-color: #222;
    font-size: 12px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

.header-social li a.nav-link :hover {
    border-radius: 100%;
    color: #fff;
}

.contact-btn {
    position: fixed;
    top: 0;
    right: 0px;
    font-size: 18px;
    color: #fff;
    width: 80px;
    text-align: center;
    z-index: 52;
    cursor: pointer;
    height: 80px;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
}


/* Side Header End */

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 10px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 8px;
    -ms-overflow-style: none;
}

.sidenav::-webkit-scrollbar {
    display: none;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .form-group {
    padding: 2px 16px 2px 16px;
    text-decoration: none;
    color: #919191;
    display: block;
    transition: 0.3s;
}

.sidenav .input-group {
    margin: 0px 8px 0px 16px;
    transition: 0.3s;
}

.sidenav .input-group:hover {
    color: #f1f1f1;
}

.sidenav .form-group:hover {
    color: #f1f1f1;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 10px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/* Top Controls */

#top-controls {
    border-bottom: 1px solid gray;
    padding: 18px 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
    background: #222222;
}

@media (min-height: 500px) {
    #top-controls {
        padding: 18px 8px;
    }
}

#top-controls .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

#top-controls .timeline-controls {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 140px;
}

#play-pause-button .material-icons {
    color: white;
    font-size: 36px;
    transform: translate(-18px, -12px);
}

#play-pause-button .material-icons:nth-of-type(2) {
    display: none;
}

#play-pause-button.playing .material-icons:nth-of-type(1) {
    display: none;
}

#play-pause-button.playing .material-icons:nth-of-type(2) {
    display: inherit;
}

#top-controls .control {
    flex-grow: 1;
    max-width: 180px;
    margin-left: 30px;
    margin-top: 6px;
}

#top-controls .control .label,
#top-controls .control label {
    color: #777;
    font-size: 13px;
    display: block;
    margin-bottom: 6px;
    font-weight: 300;
}

#top-controls .control .value {
    font-size: 24px;
    margin: 0;
    font-weight: 300;
    color: #ccc;
}

#top-controls .control .select {
    position: relative;
    color: #fff;
}

#top-controls .control select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    background: #222;
    border: none;
    border-radius: none;
    padding: 6px 4px;
    width: 100%;
    font-size: 14px;
    border-bottom: solid 1px #ccc;
    color: #fff;
    outline: none;
}

#top-controls .control select:focus {
    border-bottom-color: #183d4e;
}

#top-controls .control .select::after {
    class: "material-icons";
    content: "arrow_drop_down";
    color: #ffffff;
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    position: absolute;
    right: 0;
    top: 6px;
    pointer-events: none;
}

#top-controls .control input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    background: #222;
    border: none;
    border-radius: none;
    padding: 6px 4px;
    width: 100%;
    font-size: 14px;
    border-bottom: solid 1px #ccc;
    color: #fff;
    outline: none;
}

.material-icons {
    font-family: "Material Icons";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}


/* Links */

text {
    pointer-events: none;
}

.node:hover {
    stroke: #9999992f;
    stroke-opacity: .6;
    stroke-width: 4px;
}

.link {
    stroke: #999;
    stroke-opacity: .4;
}


/* Hover card */

#hovercard {
    display: none;
    position: absolute;
    padding: 5px;
    border: 1px solid #aaa;
    z-index: 1000;
    background: #fff;
    cursor: default;
    border-radius: 5px;
    left: 240px;
    width: 150px;
    top: -20px;
}

#hovercard input {
    width: 60px;
}